.weatherInformation {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 24%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: lighter;
}

.informationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  padding: 10px;
  width: 100%;
}

.informationContainer img {
  margin-right: 10px;
}
